:root {
  --background: #101114;
  --primary-color: #1c1d20;
  --secondary-color: #4a4d57;
  --accent-color: #00ffc4;
  --text-color: #f9f9f9;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16pt;
  color: var(--text-color);
}
body {
  min-height: 100vh;
  padding: 10px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
  margin-top: 100px;
  margin-bottom: 20px;
  font-size: 3rem;
  color: var(--accent-color);
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.wrapper {
  width: 700px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#todo-input {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid var(--secondary-color);
  border-radius: 1000px;
  padding: 12px 20px;
  background-color: transparent;
  caret-color: var(--accent-color);
  font: inherit;
  color: var(--text-color);
}
#todo-input:focus {
  outline: none;
}
form {
  position: relative;
}
#add-button {
  position: absolute;
  top: 0;
  right: 0;

  height: 100%;
  padding: 0 30px;
  border: none;
  background-color: var(--accent-color);
  border-radius: 1000px;
  cursor: pointer;
  font: inherit;
  font-weight: 600;
  color: var(--background);
}
.todo {
  margin-bottom: 10px;
  padding: 0 16px;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  border-radius: 15px;
}
.todo .todo-text {
  flex-grow: 1;
  padding: 15px;
  padding-right: 0;
}
.delete-button {
  background-color: transparent;
  border: none;
  padding: 3px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
}
.delete-button svg {
  transition: 200ms ease;
}
.delete-button:hover svg {
  fill: #ff0033;
}
.custom-checkbox {
  border: 1px solid var(--accent-color);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;

  min-height: 20px;
  min-width: 20px;
  flex-shrink: 0;
}

input[type="checkbox"]:checked ~ .custom-checkbox{
    background-color: var(--accent-color);
}
input[type="checkbox"]:checked ~ .custom-checkbox svg{
    fill: var(--secondary-color);
}
input[type="checkbox"]:checked ~ .todo-text{
    text-decoration: line-through;
    color: var(--secondary-color);
}
input[type="checkbox"]{
    display: none;
}

@media screen and (max-width: 500px) {
    html{
        font-size: 12pt;
    }
    h1{
        margin-top: 50px;
        font-size: 15vw;
    }
    #add-button{
        width: 100%;
        position: unset;
        margin-top: 10px;
        padding: 15px;
        height: auto;
    }
}